.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: hidden;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
    .container {
      background-color: #F09A9D; /* Red */
    }
    .game-title {
        display: none;
    }
  }
  
  /* Tablet Styles */
  @media only screen and (min-width: 401px) and (max-width: 960px) {
    .container {
      background-color: #F5CF8E; /* Yellow */
    }
  }
  
  /* Desktop Styles */
  @media only screen and (min-width: 961px) {
    .container {
      background-color: #B2D6FF; /* Blue */
    }
  }

.game-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    background-color: rgb(103, 58, 183);
    margin-bottom: 25px;
    align-self: flex-start;
}

.game-footer {
    display: flex;
    align-self: flex-end;
}

.game-board {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: stretch;
    width: 60vw;
    height: 60vh;
    box-shadow: 10px 10px 5px #888888;
    /* border: 1px solid black; */
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(179, 179, 179);
  }

.game-row {
    display: flex;
    flex-direction: row;
}

.game-square {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    height: 20vh;
    border-collapse: collapse;
    border: 1px solid black;
    background-color: blanchedalmond;
}