<div class="container">
  <!-- Header for the webpage --> 
  <mat-toolbar class="game-header">
    <h1 class="mat-subheading-2 game-title">
      Welcome to TicTacToe!
    </h1>
    <button mat-icon-button [matMenuTriggerFor]="appMenu"><mat-icon>menu</mat-icon></button>
  </mat-toolbar>

  <!-- Menu -->
  <mat-menu #appMenu="matMenu" [overlapTrigger]="false">
    <button mat-menu-item (click)="startGame()">Play the Game</button>
    <button mat-menu-item (click)="onAbout()">About</button>
  </mat-menu>

  <!-- The game board -->
  <div class="game-board">
    <div class="game-row">
      <div class="top-left game-square" (click)="keyPress(0)">{{ currentBoard[0] }}
      </div>
      <div class="top-middle game-square" (click)="keyPress(1)">{{ currentBoard[1] }}
      </div>
      <div class="top-right game-square"  (click)="keyPress(2)">{{ currentBoard[2] }}
      </div>
    </div>
    <div class="game-row">
      <div class="middle-left game-square" (click)="keyPress(3)">{{ currentBoard[3] }}
      </div>
      <div class="middle-middle game-square" (click)="keyPress(4)">{{ currentBoard[4] }}
      </div>
      <div class="middle-right game-square" (click)="keyPress(5)">{{ currentBoard[5] }}
      </div>
    </div>
    <div class="game-row">
      <div class="bottom-left game-square" (click)="keyPress(6)">{{ currentBoard[6] }}
      </div>
      <div class="bottom-middle game-square" (click)="keyPress(7)">{{ currentBoard[7] }}
      </div>
      <div class="bottom-right game-square" (click)="keyPress(8)">{{ currentBoard[8] }}
      </div>
    </div>
  </div>

  <!-- footer for the page -->
  <div class="game-footer">
    <p class="mat-caption">Copyright 2018 Lisa Copeland</p>
  </div>
</div>